<aside class="w-64 h-screen bg-slate-900 text-slate-300 flex flex-col border-r border-slate-800">
      <div class="p-6 flex items-center gap-3">
        <div class="w-8 h-8 bg-blue-600 rounded-lg flex items-center justify-center text-white font-bold">A</div>
        <span class="text-xl font-bold text-white tracking-tight">Admin Panel</span>
      </div>

      <nav class="flex-1 px-4 space-y-2 mt-4">
        <app-admin-sidebar-nav-link link="/admin/dashboard" label="dashboard" icon="fas fa-chart-pie" />
        <app-admin-sidebar-nav-link link="/admin/product-categorie" label="Product categoriën" icon="fas fa-rocket" />
        <app-admin-sidebar-nav-link link="/admin/users" label="Gebruikers" icon="fas fa-users" />
        <app-admin-sidebar-nav-link link="/admin/settings" label="Instellingen" icon="fas fa-cog" />
      </nav>

      <div class="p-4 border-t border-slate-800">
        <app-button variant="danger" size="lg" [fullWidth]="true" (click)="auth.handleLogOffClick()" ><i class="fas fa-sign-out-alt w-5 text-center"></i>
          <span>Uitloggen</span></app-button>
        
      </div>
    </aside>