<div class="p-4 max-w-md mx-auto">
  <form #householdForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="space-y-4">
      <!-- Naam Veld -->
     <app-labeled-input 
        label="Naam van het huishouden" 
        name="name"
        placeholder="bijv. Familie Jansen"
        [(ngModel)]="form().name" 
        minlength="3"
        maxlength="30"
        required 
        #name="ngModel" /> 

      <!-- Adres Veld -->
       <app-labeled-input
       label="Adres van het huishouden"
       name="address"
       placeholder="Berkenlei 12, 1000 Brussel"
       [(ngModel)]="form().address"
       #address = "ngModel"
       required
       />
      <!-- Acties -->
      <div class="flex gap-3 pt-4 justify-center">
        <app-button size="lg" variant="secondary" (click)="cancel()">Annuleren</app-button>
        <app-button size="lg" variant="primary" type="submit" [disabled]="householdForm.invalid">Aanmaken</app-button>
      </div>
    </div>
  </form>
</div>
