<label 
  class="flex items-center gap-3 select-none" 
  [class.opacity-50]="isDisabled()" 
  [class.cursor-not-allowed]="isDisabled()" 
  [class.cursor-pointer]="!isDisabled()">
  @if(left_label()){
    <span class="text-sm font-medium ps-2 text-app-text-body">
      {{ left_label() }}
    </span>
  }
  <div class="relative inline-flex items-center">
    <!-- Native checkbox voor accessibility en form integration -->
    <input 
      #checkboxInput
      type="checkbox" 
      [checked]="value() === true" 
      [disabled]="isDisabled()"
      class="sr-only" 
      (change)="toggle()"
    />
    
    <!-- Visuele Track -->
    <div class="w-11 h-6 rounded-full transition-colors duration-200 ease-in-out"
      [class.bg-app-border]="value() === false"
      [class.bg-brand-primary]="value() === true"
      [class.bg-gray-400]="value() === null">
    </div>
    
    <!-- Visuele Dot -->
    <div class="absolute left-1 top-1 bg-white w-4 h-4 rounded-full shadow-sm
    transition-transform duration-200 ease-in-out"
      [class.translate-x-0]="value() === false"
      [class.translate-x-5]="value() === true"
      [class.translate-x-2]="value() === null">
    </div>
  </div>

  @if (label()) {
    <span class="text-sm font-medium ps-2 text-app-text-body">
      {{ label() }}
    </span>
  }
</label>
