<div class="flex h-screen bg-app-bg font-sans overflow-hidden">
  
  <div class="flex-1 flex flex-col overflow-hidden">
    <app-header (onToggleSidebar)="toggleSidebar()" />
    
    <main class="flex-1 flex overflow-hidden">
      @if (isSidebarOpen()) {
        <app-sidebar />
      }
      <div class="flex-1 overflow-y-auto">
        <!-- Container voor content om consistente marges te houden -->
        <div class="p-6 max-w-7xl mx-auto">
          <router-outlet />
        </div>
      </div>
    </main>
  </div>
</div>

